<div class="container">
  <div class="row m-5">
    <div class="col-4" *ngFor="let item of products">
      <div class="custom_card">
        <div class="img" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
          <button class="default-btn btn-hover">
            <i class="bi bi-cart4"></i> Add to Cart
          </button>
          <button class="default-btn btn-hover">
            <i class="bi bi-ticket-detailed"></i> View Details
          </button>
        </div>
        <div class="disc text-capitalize text-center">
          <h4>{{item.title}}</h4>
          <p>Price: {{item.price | currency:'Rs. '}}</p>
        </div>
      </div>
    </div>
  </div>
</div>