



.suggested-result{
    position: absolute;
    top: 50px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
  }

  .suggested-result li{
    padding:5px;
    border: 1px solid #ddd;
  }
  .suggested-result li a{
    cursor: pointer;
    color: darkgreen;
  }