<div class="add-product">
    <h1>Update Product</h1>
    <p class="p-message">{{updateMsg}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input class="form-input" ngModel="{{productData?.name}}" name="name" type="text" placeholder="Enter Product Name">
        <input class="form-input" ngModel="{{productData?.price}}" name="price" type="text" placeholder="Enter Product Price">
        <input class="form-input" ngModel="{{productData?.category}}" name="category" type="text" placeholder="Enter Product category">
        <textarea class="form-input" ngModel="{{productData?.desc}}" name="desc" type="text" placeholder="Description about product"></textarea>
        <input class="form-input" ngModel="{{productData?.img}}" name="img" type="text" placeholder="Enter Product Image url">
        <button class="form-button">Update Product</button>
    </form>
</div>