/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

:root {
  --fontFamily: "Lato", sans-serif;
  --headingFontFamily: "Lora", serif;
  --primaryColor: #195a87;
  --primaryColor2: #25283a;
  --secondaryColor: #f3902e;
  --paragraphColor: #696969;
  --bgPrimaryColor: #eeefee;
  --whiteColor: #ffffff;
  --blackColor: #2f3045;
  --redColor: #e74646;
  --lightRedColor: #fa9884;
  --transition: 0.5s;
  --fontSize: 16px;
}
body {
  margin: 0;
  padding: 0;
  color: var(--blackColor);
  font: {
    size: var(--fontSize);
    family: var(--fontFamily);
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blackColor);
  font: {
    weight: 700;
    family: var(--headingFontFamily);
  }
}

// Default Btn
.default-btn {
  border: 1px solid var(--primaryColor);
  box-shadow: unset;
  text-align: center;
  padding: 10px 25px;
  border-radius: 5px;
  display: inline-block;
  color: var(--whiteColor);
  transition: var(--transition);
  background-color: var(--primaryColor);
  cursor: pointer;

  font: {
    weight: 600;
    size: var(--fontSize);
  }
  &:hover {
    color: var(--primaryColor);
    background-color: aliceblue;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.default-btn-2 {
  border: 1px solid var(--primaryColor);
  box-shadow: unset;
  text-align: center;
  padding: 10px 25px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  transition: var(--transition);
  background-color: aliceblue;
  opacity: 0.7;
  cursor: pointer;
  font: {
    weight: 600;
    size: var(--fontSize);
  }
  &:hover {
    color: white;
    background-color: var(--primaryColor);
    opacity: 1;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.delete-btn {
  border: 1px solid var(--redColor);
  box-shadow: unset;
  text-align: center;
  padding: 10px 25px;
  border-radius: 5px;
  display: inline-block;
  color: var(--whiteColor);
  transition: var(--transition);
  background-color: var(--redColor);
  cursor: pointer;

  font: {
    weight: 600;
    size: var(--fontSize);
  }
  &:hover {
    background-color: var(--lightRedColor);
  }
}

// scrollBar manipulation
// width
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--paragraphColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.nav{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.nav h1{
  color: #1A5D1A;
  margin: 0;
  font-size: 40px;
  font-style: italic;
}

h1 a{
  color: #1A5D1A;
  text-decoration: none;
}

 ul{
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  padding-left: 15px;
  padding-top: 15px;
  color: var(--blackColor);
  font: {
    weight: 555;
    family: var(--headingFontFamily);
  }
}

 li a{
  text-decoration: none;
  color: black;
}

.nav-search{
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.nav-search input{
  flex: 1;
  color: black;
  border: 1px solid black;
  height: 39px;
  border-right: 0px;
}

.nav-search button{
  color: black;
  border: 1px solid black;
  height: 39px;
  border-left: 0px;
}