<ngb-carousel class="carousel" *ngIf="popularProduct">
	<!-- for looping the products inside our json server  -->
	<ng-template *ngFor="let items of popularProduct" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{items.id}}">				
				<img class="carousel-img" src ="{{items.img}}" alt="Random first slide" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{items.name}}</h3>
			<p>{{items.desc}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div *ngFor="let items of trendyProducts" class="col-sm-3">
			<div class="product-item">
				<img src="{{items.img}}">
			</div>
			<div class="product-details">
				<h6 class="name-head">{{items.name}}</h6>
				<div class="product-price">
					<h6>Price: {{items.price}}</h6>
				</div>
			</div>
			<div class="product-footer">
				<a routerLink="/details/{{items.id}}">view details</a>
				<a href="">add to cart</a>
			</div>
		</div>
	</div>
</div>