.form{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: #080202;
}

.error{
    color: red;
}

.form h1{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #080202;
}

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;
    color: gray;
}

.form-button{
    height: 35px;
    border: 1px solid black;
    cursor: pointer;
}

.toggle-link{
    margin-top: 20px;
    color:#2596be ;
    font-size: 14px;
    text-align: left;
}